{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
{{ end }}

{{ define "title" }}
{{ .Site.Title }} | {{ .Site.Params.terms.pageNotFound | default (i18n "pageNotFound") }}
{{ end }}

{{ define "main" }}
<div class="container py-5 text-center">
    <img src="{{ .Site.Params.staticPath }}/404.png" alt='{{ .Site.Params.terms.pageNotFound | default (i18n "pageNotFound") }}' class="img-fluid" width="40%">
    <h1>{{ .Site.Params.terms.pageNotFound | default (i18n "pageNotFound") }}</h1>
</div>
{{ end }}